body {
	/*background-image: url(../img/NCxPSZufqDQ.jpg);*/
    background-color: #8CECD7;
}

.button-block.col-md-6.col-md-offset-3 {
    text-align: center;
}

.button-block > button {
    outline: none;
    background: #eee;
    color: #088;
    text-decoration: none;
    display: inline-block;
    width: 90px;
    text-align: center;
    margin: 20px auto;
    padding: 10px 10px;
    border: 0;
    transition: all 0.3s;
}
.button-block > button:hover{
    box-shadow:0px -5px 0 #088 inset;
}

h1 {
    text-align: center;
}

.cart-block {
    width: 90%;
    height: 70px;
    position: relative;
    display: inline-block;
    background-color: #D4D4DE;
    margin-right: 6px;
    margin-bottom: 11px;
    border-radius: 3px;
    overflow: hidden;
}

.cart-block-bottom {
    text-align: left;
    padding-left: 48px;
    padding-top: 4px;
    position: absolute;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background-color: #77776e;
}

.main-block.col-md-10.col-md-offset-1 {
    text-align: center;
}


.ng-enter {
    animation: 1.5s myChange;
}

span.block {
    outline: none;
    background: #eee;
    color: #088;
    text-decoration: none;
    display: inline-block;
    width: 90px;
    text-align: center;
    margin: 20px auto;
    padding: 10px 10px;
    border: 0;
    transition: all 0.3s;
}
span.block:hover{
    box-shadow:0px -5px 0 #088 inset;
}

a, a:focus, a:hover {
    color: #088;
    text-decoration: none;
}

.pre-block{
    display: inline-block;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #c3b7b7;
    box-shadow: 0px 0px 2px 0px #77776e;
    word-break: break-all;
}

.pre-author{
    background-color: #77776e;
    width: 100%;
    padding: 10px 0px 8px 25px;
    text-align: left;
    overflow: hidden;
}

.pre-title{
    background-color: #d4d4de;
    height: 100px;
    padding: 10px;
}

span.date {
    float: right;
    text-align: right;
    padding-right: 32px;
    width: 100%;
    color: #444542;
}

.cart-block span.date ,.comment-block span.date{
    width: 30%;
}

.owl-nav {
    margin: 7px auto;
    width: 150px;

}

.owl-prev {
    width: 56px;
    display: inline-block;
    background-color: #77776e;
    border-radius: 12px;
    text-align: center;
    padding: 2px 1px;
}

.owl-next {
    width: 56px;
    display: inline-block;
    background-color: #77776e;
    border-radius: 12px;
    text-align: center;
    padding: 2px 1px;
    float: right;
}

.add-form{
    margin: 36px 0;
    height: 275px;
}

span.comments {
    padding-left: 15px;
}

.article-text {
    position: relative;
    overflow: hidden;
    overflow-wrap: break-word;
    background-color: #9AE3E9;
    padding: 28px;
    border-radius: 6px;
}

.comment-block{
    width: 100%;
    height: 70px;
    position: relative;
    display: inline-block;
    background-color: #D4D4DE;
    margin-right: 6px;
    margin-bottom: 11px;
    border-radius: 3px;
    overflow: hidden;
}

.comment-block p{
    padding: 10px 14px 0 34px;
}

#comments {
    margin: 20px auto;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.article-text div {
    position: absolute;
    width: 100%;
    margin-left: -28px;
    padding: 2px 0 3px 30px;
    bottom: 0;
    background-color: #9EA09E;
}

@keyframes myChange {
    from {
        opacity: 0;
    } to {
        opacity: 1;
      }
}